@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary-text-color: #555555;
  --primary-btn-color: #8F3E97;
  --btn-text-color: #FFFEFD;
  --primary-btn-hover: #6F1E77;
  --link-hover: #000;
  --primary-bg: #FAFAFA;
  --padding-normal: 20px 80px;
  --padding-mobile: 10px 20px;
  --primary-heading: 35px;
  --btn-padding: 10px 20px;
  --secondary-text: 17px;
  --secondary-bg: #FFF;
  --primary-text-mobile: 15px;
  --padding-secondary: 60px 80px;
}

body {
  font-family: 'Poppins';
  margin: 0;
  padding: 0;
}

section {
  width: 100%;
  height: 100%;
}

@media (max-width: 480px) {
  .main {
    /* padding: 10px 20px !important; */
  }

  .landing-container {
    padding: var(--padding-mobile) !important;
    /* height: 100vh !important; */
  }

  .navbar-links {
    display: none !important;
  }

  .navbar-call {
    display: none;
  }

  .landing-content {
    padding: 0 !important;
  }

  .navbar-container {
    padding: var(--padding-mobile) !important
  }

  .landing-svg {
    display: none;
  }

  .advertisement-container {
    display: none;
  }

  .login-container {
    display: none !important;
  }

  .test-container {
    margin-top: 50px;
    padding: var(--btn-padding) !important;
  }

  .tests-container {
    padding: 0px !important;
    margin-top: 50px !important;
    display: flex;
    align-items: center;
  }

  .arrow {
    display: none !important;
  }

  .test-heading {
    font-size: 20px !important;
  }

  .findTest-container {
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    padding: var(--padding-mobile) !important;
  }

  .heart-rate-container {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-bg);
    width: 100% !important;
    padding: 30px 20px;
    box-shadow: none !important;
    border-radius: 5px;
    overflow: hidden !important;
    margin-top: 10px !important;
  }

  .findtest-heading {
    font-size: 20px !important;
    font-weight: 600;
    max-width: 550px;
  }

  .findtest-text {
    width: 100% !important;
    font-size: var(--primary-text-mobile);
  }

  .findtest-check {
    font-size: var(--primary-text-mobile);
  }

  .findtest-check-test {
    font-weight: 600;
    margin-left: 10px;
  }

  .findTest-btn-container {
    margin-top: 20px;
  }


  .schedule-img-container {
    display: none;
  }

  .schedule-container {
    padding: var(--padding-mobile) !important;
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-bg);
  }

  .schedule-content {
    margin-left: 0px !important;
  }

  .reviews-container {
    padding: var(--padding-mobile) !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
  }

  .background {
    width: 100%;
    height: 250px;
    background: rgba(143, 62, 151, 0.26);
    z-index: 1;
  }

  .review-content {
    max-width: 80% !important;
    padding: 0 25px;
  }

  .review-container {
    display: flex;
    justify-content: space-between;
    align-items: center !important;
    width: 100% !important;
    font-size: 12px;
    padding: var(--padding-mobile) !important;
  }

  .review-img {
    border-radius: 50% !important;
    object-fit: cover;
    margin-bottom: 30px !important;
  }

  .review-content-sub {
    display: flex;
    flex-direction: column;
  }

  .review-btns-container {
    display: none !important;
  }

  .arrow-review {
    margin-right: 20px;
    cursor: pointer;
  }

  .review-img-container {
    position: relative;
    z-index: 2;
  }

  .review-img-box {
    display: none;
  }

  .footer {
    margin-top: 0px !important;
    padding: var(--padding-mobile) !important;
    background-color: #E5E5E5;
  }
  
  .footer-links {
    justify-content: flex-start !important;
    display: flex;
    flex-wrap: wrap;
    
  }
  
  .footer-link-heading {
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .footer-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 29.3% ;
    margin-right: 13px;
    margin-top: 10px;
  }
  
  .footer-text {
    font-size: 11px !important;
    font-weight: 500;
    color: #737373;
    text-decoration: none;
  }
  
  .footer-text:hover {
    text-decoration: underline;
  }
  
  .footer-text-link {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: flex-start;
    width: 250px;
    flex-wrap: wrap;
  }
  
  .footer-text-link-img {
    margin-right: 15px;
  }
  
  .footer-info {
    flex-direction: column;
  }
  
  .footer-info-one {
    margin-right: 0 !important;
    margin-bottom: 50px;
  }
  
  .footer-end {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-end-link {
    margin-left: 5px;
  }

  .footer-end-one {
    max-width: 60%;
  }
  
  .footer-end-text {
    color: var(--primary-btn-color);
    font-size: 11px !important;
  }

  .footer-desc-txt {
    font-size: 12px;
  }

  .seperator {
    margin: 20px 0 !important;
  }
  

}

.center {
  display: flex;
  justify-content: center;
}

.section-alternate {
  background-color: var(--secondary-bg);
}

.primary-heading {
  font-size: var(--primary-heading);
  max-width: 450px;
}

.text-secondary {
  max-width: 500px;
  margin-top: -20px;
  font-size: var(--secondary-text);
}

.highlighted {
  color: var(--primary-btn-color);
}

.main {
  background-color: var(--primary-bg);
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-bg);
  padding: var(--padding-normal)
}

.navbar-links {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.navbar-link {
  text-decoration: none;
  color: var(--primary-text-color);
  transition: all 0.2s ease-in;
}

.navbar-link:hover {
  color: var(--link-hover);
}

.primary-btn {
  background-color: var(--primary-btn-color);
  padding: var(--btn-padding);
  color: var(--btn-text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: 600;
  transition: background 0.2s ease-in;
}

.primary-btn:hover {
  background-color: var(--primary-btn-hover);
}

.call-icon {
  margin-right: 10px;
}

.landing-container {
  background-color: var(--primary-bg);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.landing-content {
  padding: var(--padding-normal);
  display: flex;
  justify-content: space-between;
}

.landing-svg {
  z-index: 10;
  height: 30%;
  overflow: hidden;
  margin-top: -50px;
}

.extra-wave {
  background-color: var(--secondary-bg);
  height: 10px;
  margin-top: -10px;
}

.back-circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: linear-gradient(to bottom, var(--primary-btn-color) 0%, transparent 100%);
}

.inner-circle {
  background-color: var(--primary-bg);
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.advertisement-container {
  position: relative;
  margin-top: 2rem;
}

.advertisement-img-container {
  position: absolute;
}


.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, transparent 100%);
}

.advertisement-one {
  position: absolute;
  left: -80px;
  animation: moveUpDown 3s linear infinite alternate;
}

.advertisement-two {
  position: absolute;
  left: 80%;
  top: 10%;
  animation: moveUpDown2 3s linear infinite alternate;
}

@keyframes moveUpDown2 {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(15px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(15px);
  }

  100% {
    transform: translateY(0);
  }
}

.login-container {
  background-color: var(--secondary-bg);
  display: flex;
  flex-direction: column;
  padding: 5px 20px;
  justify-content: space-around;
  width: 300px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.text-login {
  font-size: 12px;
  color: var(--primary-btn-color);
}

.heading-login {
  font-size: 20px;
  font-weight: 600;
}

.login-input {
  padding: 15px 10px;
  border-radius: 5px;
  border: 1px solid var(--primary-btn-color);
}

.login-input::placeholder {
  color: var(--primary-btn-color);
}

.login-input:focus {
  outline: none;
}

.login-link {
  font-size: 12px;
  text-decoration: none;
  color: var(--primary-btn-color);
}

.login-link:hover {
  color: var(--primary-btn-hover);
}

.test-text-top {
  color: var(--primary-btn-color);
  text-decoration: none;
}

.test-heading {
  font-size: 35px;
  max-width: 800px;
}

.test-container {
  padding-bottom: 10px;
}

.tests-container {
  padding: 0px 60px;
  margin: 100px 0;
  display: flex;
  align-items: center;
}

.test-desc-container {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

.singleTest {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  height: 264px;
  border-top: 5px solid var(--primary-btn-color);
  padding: 15px 20px;
  border-radius: 5px;
  margin: 10px;
}

.single-test-heading {
  font-weight: 600;
  font-size: 20px;
}

.arrow {
  width: 40.572px;
  height: 38.92px;
  flex-shrink: 0;
  background-color: var(--primary-btn-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.arrow:hover {
  background-color: var(--primary-btn-hover);
}

.findTest-container {
  padding: var(--padding-secondary);
  display: flex;
  justify-content: space-between;
}

.findtest-heading {
  font-size: 30px;
  font-weight: 600;
  max-width: 550px;
}

.findtest-text {
  max-width: 700px;
  color: var(--primary-text-color);
}

.findtest-check {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.findtest-check-test {
  font-weight: 600;
  margin-left: 10px;
}

.findTest-btn-container {
  margin-top: 20px;
}

.heart-rate-container {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-bg);
  width: 400px;
  padding: 30px 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.heart-rate-text {
  margin-bottom: 20px;
}

.heart-rate-inputs {
  display: flex;
  flex-direction: column;
}

.heart-rate-input {
  margin-bottom: 10px;
}

.checkbox-wrapper input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.checkbox-wrapper *,
.checkbox-wrapper ::after,
.checkbox-wrapper ::before {
  box-sizing: border-box;
}

.checkbox-wrapper {
  position: relative;
  display: block;
  overflow: hidden;
}

.checkbox-wrapper .check {
  width: 50px;
  height: 50px;
  position: absolute;
  opacity: 0;
}

.checkbox-wrapper .label svg {
  vertical-align: middle;
}

.checkbox-wrapper .path1 {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  transition: .5s stroke-dashoffset;
  opacity: 0;
}

.checkbox-wrapper .check:checked+label svg g path {
  stroke-dashoffset: 0;
  opacity: 1;
}

.terms {
  color: var(--primary-btn-color)
}

.terms:hover {
  color: var(--primary-btn-hover);
}

.heart-rate-btn {
  margin-top: 10px;
}

.result {
  font-size: 40px;
  font-weight: 600;
}

.results-container {
  margin-top: 20px;
}

.schedule-container {
  padding: var(--padding-secondary);
  display: flex;
  justify-content: space-between;
}

.schedule-content {
  margin-left: 100px;
}

.reviews-container {
  padding: var(--padding-secondary);
}

.review-main {
  position: relative;
  top: 10%;
  display: flex;
}

.swiper-container-reviews {
  width: 100%;
  position: absolute;
  top: -250px;
  display: flex;
}


.background {
  width: 100%;
  height: 250px;
  background: rgba(143, 62, 151, 0.26);
  z-index: 1;
}

.review-container {
  padding: var(--padding-secondary);
  width: 900px;
  top: 0;
  z-index: 123;
}

.review-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 40%;
  position: relative;
}

.review-container {
  display: flex;
  justify-content: space-between;
}

.review-img {
  border-radius: 10px;
  object-fit: cover;
}

.review-content-sub {
  display: flex;
  flex-direction: column;
}

.review-btns-container {
  display: flex;
  align-items: flex-end;
}

.arrow-review {
  margin-right: 20px;
  cursor: pointer;
}

.review-img-container {
  position: relative;
  z-index: 2;
}

.review-img-box {
  width: 300px;
  height: 250px;
  border: 1px solid var(--primary-btn-color);
  border-radius: 5px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: -1;
}


.footer {
  margin-top: 200px;
  padding: var(--padding-secondary);
  background-color: #E5E5E5;
}

.footer-links {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}

.footer-link-heading {
  font-weight: 600;
  margin-bottom: 10px;
}

.footer-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-text {
  font-size: 15px;
  font-weight: 500;
  color: #737373;
  text-decoration: none;
}

.footer-text:hover {
  text-decoration: underline;
}

.footer-text-link {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: flex-start;
  width: 250px;
  flex-wrap: wrap;
}

.footer-text-link-img {
  margin-right: 15px;
}

.footer-link-text {
  max-width: 200px;
}

.seperator {
  height: 1px;
  background-color: var(--primary-btn-color);
  width: 100%;
  margin: 50px 0;
}

.footer-info {
  display: flex;
}

.footer-info-one {
  margin-right: 70px;
}

.footer-end {
  display: flex;
  justify-content: space-between;
}

.footer-end-link {
  margin-left: 5px;
}

.footer-end-text {
  color: var(--primary-btn-color);
}